{% extends "template.twig" %}
{% block section %}disamb{% endblock %}
{% block page %}index{% endblock %}
{% block title %}CodeDay Arizona{% endblock %}
{% block content %}
<h2>Select Your Nearest City</h2>
<ul>
    <li><a href="/phoenix">Phoenix</a></li>
    <li><a href="/flagstaff">Flagstaff</a></li>
    <li><a href="/tucson">Tucson</a></li>
</ul>
{% endblock %}
