{% extends "template.twig" %}
{% block section %}evangelist{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Become a CodeDay Code Evangelist{% endblock %}
{% block shortDescription %}It's never been easier to inspire students in your community to fall in love with coding.{% endblock %}
{% block veryShortDescription %}Lead the {% endblock %}
{% block hero %}
    <article class="lead">
        <h2>Be a tech hero: become a Code Evangelist.</h2>
        <p>Code Evangelists are the people emceeing CodeDay, running workshops, and inspiring students to learn more
           about coding, and it's one of the most impactful jobs you can have. You bring the energy and fun, and
           we'll bring the training, flights, and hotels!</p>
    </article>
{% endblock %}
{% block content %}
    <article class="what-it-does">
        <section class="image">
            <img src="/assets/img/fun.jpg" />
        </section>
        <section class="description">
            <h2>Code Evangelists make a big difference.</h2>
            <p>Students who attend CodeDay often have little or no experience <em>or interest</em> in programming, but
               after attending 80% continue coding, and the 1-1 interactions and enthusiasm Code Evangelists provide
               are the reason.</p>

            <p>As a Code Evangelist, you'll have an outsized impact on the lives of students across the US. And as the
               one responsible for that change, you'll get to see the impact you made on 60-100 students per event for years to come.</p>
            <p>You'll also get an all-expenses paid trip to a new city: travel, hotels, and food included! We'll
               provide the training, so there's no prerequisites other than availability, enthusiasm, and a few legal
               things.</p>
            <p class="apply">
                <a href="mailto:tylermenezes@srnd.org">Questions? Ready to get started? Contact us.</a>
            </p>
        </section>
    </article>
    <article class="requirements">
        <section>
            <h2>Requirements</h2>
            <ul>
                <li>Must be at least 18 years old at the time of CodeDay</li>
                <li>Can commit at least 5 hours before CodeDay for training</li>
                <li>Available for the weekend of CodeDay</li>
                <li>Excited to speak to, and work with, students for 24 hours</li>
            </ul>
        </section>
        
        <section>
            <h2>We'll Provide</h2>
            <ul>
                <li>Training: evangelist guides and videos</li>
                <li>Pre-event Support: 1-1 meetings</li>
                <li>At-event Support: Dedicated staff to help resolve problems</li>
                <li>All Expenses Paid: Flights, hotels, transportation, and food</li>
            </ul>
        </section>
    </article>
{% endblock %}
