{% extends "template.twig" %}
{% block section %}hpcc{% endblock %}
{% block page %}index{% endblock %}
{% block title %}HPCC{% endblock %}
{% block content %}
    <p>Welcome to the Big Data Challenge (presented by LexisNexis Risk Solutions)!</p>
    <p><a href="https://srnd.to/bigdata" target="_blank">Challenge Questions</a></li>

    <h2>Datasets:</h2>
    <ul>
        <li>Spotify Dataset: <a href="https://srnd.to/bigdataspotify" target="_blank">cloud</a></li>
        <li>Gaming Dataset: <a href="https://srnd.to/bigdatagaming" target="_blank">cloud</a></li>
    </ul>

    <h2>More Resources:</h2>
    <ul>
        <li><a href="https://srnd.to/bigdatapdf" target="_blank">Presentation</a></li>
        <li><a href="https://srnd.to/eclcheatsheet" target="_blank">Cheatsheet</a> and <a href="https://srnd.to/eclide" target="_blank">Cloud IDE help</a></li>
        <li><a href="https://srnd.to/eclvscode" target="_blank">VSCode Instructions</a></li>
    </ul>
{% endblock %}
