{% extends "template.twig" %}
{% block section %}hpcc{% endblock %}
{% block page %}index{% endblock %}
{% block title %}HPCC{% endblock %}
{% block content %}
    <p>Welcome to the HPCC Systems workshop! Your HPCC instance is available at:</p>
    <p>
        {% if twitter %}
            <strong>Tweets:</strong> <a href="/hpcc/tweets">Download @{{ twitter }}</a><br /><br />
        {% else %}
            <strong>Tweets:</strong> <a href="/hpcc/oauthstart">Sign In With Twitter</a><br /><br />
        {% endif %}
        <strong>Editor:</strong> <a href="https://hpccsystems.com/download/developer-tools/ecl-ide" target="_blank">Download</a><br />
        <strong>Server:</strong> <a href="http://hpcc.srnd.org:8010/" target="_blank">hpcc.srnd.org</a><br />
        <strong>Editor Username:</strong> hpccdemo<br />
        <strong>Editor Password:</strong> hpccdemo<br />
    </p>
    {% if not twitter %}
        <p><a href="/hpcc/oauthstart">Have a Twitter account? Sign in</a> and we'll download a copy of your tweets to
           analyze in the workshop. (We'll never post, and will only access your tweets when you press the button.)</p>
        <p>No Twitter account? <a href="/assets/csv/sample_tweets.csv">Download some sample Tweets.</a></p>
    {% endif %}
{% endblock %}
