{% extends "template.twig" %}
{% block section %}hpcc{% endblock %}
{% block page %}index{% endblock %}
{% block title %}HPCC{% endblock %}
{% block content %}
    <p>Welcome to the LexisNexis Risk Solutions Big Data Challenge!</p>
    <p><a href="https://f1.srnd.org/workshops/bigdatachallenge/2019questions.pdf" target="_blank">Challenge Questions</a></li>

    <h2>Datasets:</h2>
    <ul>
        <li>Spotify Dataset: <a href="https://ide.hpccsystems.com/workspaces/share/62846edf-c1da-42b4-b783-6668b7cd1a15" target="_blank">cloud</a></li>
        <li>Gaming Dataset: <a href="https://ide.hpccsystems.com/workspaces/share/4a59d008-c6a1-43c2-8bbd-7ea6437b8e61" target="_blank">cloud</a></li>
    </ul>

    <h2>More Resources:</h2>
    <ul>
        <li><a href="https://f1.srnd.org/workshops/bigdatachallenge/2019questions.pdf" target="_blank">Cheatsheet</a></li>
        <li><a href="https://f1.srnd.org/workshops/bigdatachallenge/presentation.pptx" target="_blank">Presentation</a></li>
    </ul>
{% endblock %}
