{% extends "template.twig" %}
{% block section %}hpcc{% endblock %}
{% block page %}index{% endblock %}
{% block title %}HPCC{% endblock %}
{% block content %}
    {% if username %}
        <p>Your login details are:</p>
        <p>Username: <input type="text" value="{{ username }}" readonly onfocus="this.select();" onmouseup="return false;" style="display: inline;width: 50%;"/><br />
           Password: <input type="text" value="{{ password }}" readonly onfocus="this.select();" onmouseup="return false;" style="display: inline;width: 50%;" /><br />
           URL: <a href="http://hpcc.srnd.org/" target="_new">hpcc.srnd.org</a></p>
    {% else %}
        <p>During CodeDay, you have access to a cloud-hosted instance of HPCC Systems to help you make your
           projects better. Please enter your email to get an HPCC login.</p>

        <form method="post" style="margin-top:2rem;">
            <input type="email" name="email" placeholder="Your Email Address" required />
            <input type="submit" value="Create my account" />
        </form>
    {% endif %}
{% endblock %}
