{% extends "template.twig" %}
{% block section %}new{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Start a CodeDay{% endblock %}
{% block shortDescription %}It's never been easier to inspire students in your community to fall in love with coding.{% endblock %}
{% block veryShortDescription %}Volunteer for CodeDay and help students fall in love with coding.{% endblock %}
{% block hero %}
    <article class="lead">
        <h2>You can make a CodeDay happen.</h2>
        <p>You're a community member passionate about bringing more coding to your community. We're a 501(c)(3)
           non-profit with a proven event format and the experience to help. Let's work together.</p>
    </article>
{% endblock %}
{% block content %}
    <article class="what-it-does">
        <section class="image">
            <img src="/assets/img/sonya.jpg" />
        </section>
        <section class="description">
            <h2>Why Organize a CodeDay?</h2>
            <p>CodeDay is a nationwide event proven to inspire students to love coding, and build communities... plus
               it's a lot of fun to organize and attend! It's also a great way to build a strong network and get
               leadership experience: many former CodeDay organizers are now working in high-level roles for leading
               technology companies.</p>
            <p>Plus, it's easy. In brief: organizing CodeDay involves finding a venue, getting some sponsors, promoting
               to schools, and ordering food and drinks. If that sounds like something you can do, we'd love to talk!</p>
            <p class="apply">
                <a href="#apply">Get Started</a>
            </p>
        </section>
    </article>
    <article class="details">
        <section class="jobs">
            <h2>Positions</h2>
            <ul>
                <li>
                    <h3>Regional Manager</h3>
                    <p>Oversee the planning process: find a venue and sponsors, promote the event, and order food. For
                       new cities, this may be the only position, in which case you'll plan the whole event.</p>
                </li>
                <li>
                    <h3>Assistant Regional Manager</h3>
                    <p>Similar expectations to the regional manager, with the goal of helping and possibly taking over
                       in future seasons.</p>
                </li>
                <li>
                    <h3>Sponsorships and Venue Team</h3>
                    <p>Work to find a venue and sponsorships (monetary and in-kind donations).</p>
                </li>
                <li>
                    <h3>Community Partnerships</h3>
                    <p>Make promotion-focused connections with local organizations, clubs, schools, and the media.</p>
                </li>
                <li>
                    <h3>Community Liason</h3>
                    <p>Help the Community Partnerships team to promote CodeDay in your school or community.</p>
                </li>
                <li>
                    <h3>Code Evangelist</h3>
                    <p>Oversee things on the day-of! (May also hold another position.)</p>
                </li>
            </ul>
        </section>
        <section class="requirements">
            <h2>Requirements</h2>
            <ul>
                <li>If you're a student, you should be in high school or college.</li>
                <li>Can commit 2-5 hours each week</li>
                <li>Comfortable with calling and emailing</li>
                <li>Prior organizational or leadership experience is a plus</li>
            </ul>
            
            <h2>We'll Provide</h2>
            <ul>
                <li>Training: organizer guides and videos</li>
                <li>Bi-weekly 1-1 calls to solve problems</li>
                <li>A website, ticket sale platform, etc</li>
                <li>Event supplies</li>
                <li>The ability to receive and spend sponsorships/ticket sales revenue</li>
            </ul>
        </section>
    </article>
    <article>
        <h2><a name="apply">Excited to help? Tell us a bit about yourself and we'll email you.</a></h2>
        <div class="cognito">
        <script src="https://services.cognitoforms.com/s/7hYXr3TPxk6yIpJxjqVoFQ"></script>
        <script>Cognito.load("forms", { id: "46" });</script>
        </div>
    </article>
{% endblock %}
