{% extends "template.twig" %}
{% block section %}promo{% endblock %}
{% block page %}index{% endblock %}
{% block title %}CodeDay Promo Code{% endblock %}
{% block content %}
    <p>Thanks for your interest in CodeDay!</p>
    <p>Searching for answers to coding problems is a very valuable skill, so kudos for searching for a promo code.
       You'll fit right in at CodeDay.</p>
    <p>You can use the promo code "IGOOGLEDTHIS" for a 20% discount.</p>
{% endblock %}
