{% extends "template.twig" %}
{% block section %}rules{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Rules{% endblock %}
{% block content %}

<article class="rules">
    <h3>Event Rules (CDER)</h3>
    <p><strong>All attendees must follow these rules, as well as the <a href="https://srnd.org/conduct" target="_blank">StudentRND
    Code of Conduct (SCOC).</a> If you are under 18, have a parent read these.</strong></p>
    
    <h4>CDER1. We may Photograph You</h4>
    <p>To register for CodeDay, you must allow us to photograph and record you for promotional purposes. We may also
       take pictures or videos of your project. You agree to let us and our partners use these photos and videos to
       promote or inform people about StudentRND or CodeDay, fee-free, in perpetuity.</p>

    <h4>CDER2. You Own The Rights</h4>
    <p>Notwithstanding the previous section, you and your team own all the rights to everything you create at CodeDay.
       If you work with a team and expect to release an app or game, you should be clear about who owns what
       rights.</p>
    <p>Unless your team discusses it in advance, you agree to split ownership between all team members.</p>

    <h4>CDER3. Eligible Attendees</h4>
    <p>The public registration page is only for use by high school students, students enrolled in an undergraduate
       degree program who are under 25, and people between the ages of 16-20. All other registrants must receive
       special permission by <a href="mailto:contact@codeday.org">contacting us.</a></p>
    <p>Some cities may also allow open registration by students in middle school; if so, this will specified in the
       FAQ. Unless allowed by the FAQ of the specific event, middle school students must receive special permission to
       register. In either case, middle school students must have an established interest in technology to attend, and
       may be removed from the event if they become a distraction. Parents must be available to pick up these students
       throughout the event.</p>
    <p>Teachers may attend with students, but must show proof of their status when checking in. Schools which want to
       send chaperones should contact us in advance; chaperones may be required to undergo a background check unless
       the school has already conducted one.</p>
    <p>All other registrations require advance permission. Violators will be turned away or ejected without a refund.</p>

    <h4>CDER4. Minors</h4>
    <p>During the event, minors may only leave the event if picked up by a parent or guardian, or if a parent or
       guardian authorizes their exit by phone or writing (sending the student with a written note is sufficient).</p>
    <p>Unless permission to leave without a guardian is given, <em>a parent or guardian must be available to pick up
       all minors throughout the event.</em></p>
    <p>We aren't able to guarantee that all minors will be locked-in during the event, however, so parents should be
       cautious and only send students who are mature enough to handle the event.</p>

    <h4>CDER5. Do Not Make a Mess, and Clean Up After Yourself!</h4>
    <p>Don't make an unnecessary mess, and clean up your space before you leave.</p>
    
    <h4>CDER6. Searches</h4>
    <p>To register for CodeDay, you must consent to StudentRND's search of your belongings if we have a reasonable
       suspicion that you are concealing a weapon, illegal or banned drugs or alcohol, or a stolen item.</p>

    <h4>CDER7. No Excessive Video Gaming</h4>
    <p>CodeDay is a creative event, and is not designed for students who simply want to play existing video games.
       Other than scheduled CodeDay activities, participants observed playing video games will be asked to stop, and
       may eventually be asked to leave.</p>

    <h4>CDER8. Pre-Formed Teams</h4>
    <p>CodeDay is a community event. Teams formed before the event must pitch their idea during the pitches, and must be
       open to new members joining their team. Violating teams will be disqualified from all awards, and may be asked
       to leave. Please participate in the community!</p>

    <h4>CDER9. Judging</h4>
    <p>Awards will be decided either by judges or by the event staff. No attendee is allowed into the area where judges
       are discussing awards.</p>
    <p>Judges can give out three "main awards" - Top Overall, Best App, Best Game - and can create any "special" awards
       they'd like. To be eligible for the main awards, you must follow the Award Rules. If you do not want to follow
       these rules, you must let both the event staff and judges know. You will still be eligible for special
       awards.</p>

    <h4>CDER10. Staff Have Final Say</h4>
    <p>The organizers will interpret all event rules and the Code of Conduct in understanding of the spirit.</p>
    <p>Organizers have the authority to disqualify you from any awards, remove you from the event, and have you banned
       from future events. If you're removed from the event, you will not receive a refund, and may need to call a
       parent to pick you up.</p>
    <p>If you register for an event once you have been banned, you will not be allowed entry, and your ticket will not
       be refunded.</p>
</article>
<article class="award-rules">
    <h3>Award Rules (CDWR)</h3>
    <p><strong>You need to follow these rules if you want to be eligible for the main awards (Top Overall, Best Game,
       Best App).</strong></p>

    <h4>CDWR1. Programming Language, Tools, and Frameworks:</h4>
    <p>You may use any generally available programming language, tool, API, engine, or framework. This includes both
       open and closed source systems, both freely and commercially available.</p>
    <p>You may use languages, tools, or frameworks which you or your team developed, provided:</p>
    <ul>
        <li>They were generally available for the two weeks prior to the competition.</li>
        <li>They are licensed in such a way that all teams can use them free-of-charge.</li>
        <li>You made a good faith effort to make them available to other CodeDay teams. (e.g. available without having
            to guess the link.)</li>
        <li>They are not engineered specifically for your team's project.</li>
    </ul>
    <p>(The purpose of this section is to prevent creating frameworks which provide the general functionality of your
       project ahead of time.)</p>

    <h4>CDWR2. Teams of 1-6 Attendees</h4>
    <p>Teams must be comprised of 1-6 people. No more than 6 people are allowed on a team without the permission of
       the organizers.</p>

    <h4>CDWR3. 24 Hours</h4>
    <p>All work on the project must occur between the end of the kickoff and the beginning of the presentations.</p>
    <p>You can work on the concept for your project before the competition begins, including making notes, sketches
       mockups, database and inheritance diagrams, and storyboards, however you can not produce any production-ready
       content before the kickoff. This includes images, test cases, engines (except as noted in part 1), sounds, and
       music.</p>
    <p>Plan, don't create.</p>

    <h4>CDWR4. Paid Assets</h4>
    <p>Commercial assets are allowed so long as they are properly licensed (keeping in mind the terms of the previous
       section), and provided they were not created specifically for the purpose of this project.</p>
    <p>Commissioning contract work is forbidden.</p>
{% endblock %}
