{% extends "template.twig" %}
{% block section %}rules{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Rules{% endblock %}
{% block content %}
<article class="coc">
    <h3>The Code of Conduct</h3>
    <p>StudentRND is an awesome organization to be involved with. We have fun and build a lot of cool things.</p>

    <p>At the same time, StudentRND is a national community, and we need to make sure that our activities don't prevent
        others from having fun as well.</p>

    <p>All community members are expected to:</p>

    <ol>
        <li>Act in a way that displays yourself as a positive role model.</li>
        <li>Be humble, even when you're successful.</li>
        <li>Respect, encourage, and support other students.</li>
    </ol>

    <p>At StudentRND events and activities, community members must:</p>
    <ul>
        <li>Help clean up after yourself and others.</li>
        <li>Ensure the safety of yourself and other participants.</li>
        <li>Not carry guns, knives, or other weapons.</li>
        <li>Abstain from using or being under the influence of alcohol, marijuana, illicit substances, and recreational drugs.</li>
        <li>Abstain from using sexual language or imagery.</li>
    </ul>

    <p>Additionally, whether at StudentRND events or not, community members must:</p>
    <ul>
        <li>Not harass others.</li>
        <li>Not use offensive language referring to people's gender, sexual orientation, religion, race, ethnicity, or age.</li>
    </ul>

    <p>Community members violating these rules may be sanctioned at the discretion of StudentRND staff, including
       an expulsion or ban from all StudentRND activities without refund.</p>
</article>
<article class="rules">
    <h3>Event Rules</h3>
    <p><strong>All attendees must follow these rules. If you are under 18, have a parent read these.</strong></p>
    
    <h4>1. We may Photograph You</h4>
    <p>To register for CodeDay, you must allow us to photograph and record you for promotional purposes. We may also
       take pictures or videos of your project. You agree to let us and our partners use these photos and videos to
       promote or inform people about StudentRND or CodeDay, fee-free, in perpetuity.</p>

    <h4>2. You Own The Rights</h4>
    <p>Notwithstanding the previous section, you and your team own all the rights to everything you create at CodeDay.
       If you work with a team and expect to release an app or game, you should be clear about who owns what
       rights.</p>
    <p>Unless your team discusses it in advance, you agree to split ownership between all team members.</p>

    <h4>3. Students Only</h4>
    <p>You must be a high school or college student, or have special permission of StudentRND, to attend the event.
       Non-students who register without permission will be turned away with no refund.</p>
    <p>Parents cannot attend with students without the special permission of StudentRND, which may involve completing a
       background check. Teachers may attend with students, provided they can show proof of teacher status.</p>

    <h4>4. Younger Students</h4>
    <p>We may not allow students who are under 18 to leave the venue without a parent or guardian on-site to pick them
       up. Parents must be available to do so at any time during the event. We aren't able to guarantee that all minors
       will be locked-in during the event, however, so parents should be cautious and only send students who are mature
       enough to handle the event.</p>
    <p>Elementary and middle school students may only attend if they have an established interest in technology, and
       may be removed from the event if they become a distraction to other students. Parents should be available to
       pick up these students for the entire weekend in case something comes up.</p>

    <h4>5. Clean Up After Yourself!</h4>
    <p>It's in the Code of Conduct, but it's worth repeating! Don't make an unnecessary mess, and clean up your space
       before you leave.</p>

    <h4>6. Judging</h4>
    <p>Awards will be decided either by judges or by the event staff. No attendee is allowed into the area where judges
       are discussing awards.</p>
    <p>Judges can give out three "main awards" - Top Overall, Best App, Best Game - and can create any "special" awards
       they'd like. To be eligible for the main awards, you must follow the Award Rules. If you do not want to follow
       these rules, you must let both the event staff and judges know. You will still be eligible for special
       awards.</p>

    <h4>7. Staff Have Final Say</h4>
    <p>The organizers will interpret all event rules and the Code of Conduct in understanding of the spirit.</p>
    <p>Organizers have the authority to disqualify you from any awards, remove you from the event, and have you banned
       from future events. If you're removed from the event, you will not receive a refund, and may need to call a
       parent to pick you up.</p>
    <p>If you register for an event once you have been banned, you will not be allowed entry, and your ticket will not
       be refunded.</p>
</article>
<article class="award-rules">
    <h3>Award Rules</h3>
    <p><strong>You need to follow these rules if you want to be eligible for the main awards (Top Overall, Best Game,
       Best App).</strong></p>

    <h4>1. Programming Language, Tools, and Frameworks:</h4>
    <p>You may use any generally available programming language, tool, API, engine, or framework. This includes both
       open and closed source systems, both freely and commercially available.</p>
    <p>You may use languages, tools, or frameworks which you or your team developed, provided:</p>
    <ul>
        <li>They were generally available for the two weeks prior to the competition.</li>
        <li>They are licensed in such a way that all teams can use them free-of-charge.</li>
        <li>You made a good faith effort to make them available to other CodeDay teams. (e.g. available without having
            to guess the link.)</li>
        <li>They are not engineered specifically for your team's project.</li>
    </ul>
    <p>(The purpose of this section is to prevent creating frameworks which provide the general functionality of your
       project ahead of time.)</p>

    <h4>2. Teams of 1-8 Attendees</h4>
    <p>Teams must be comprised of 1-6 people. No more than 6 people are allowed on a team without the permission of
       the organizers.</p>

    <h4>3. 24 Hours</h4>
    <p>All work on the project must occur between the end of the kickoff and the beginning of the presentations.</p>
    <p>You can work on the concept for your project before the competition begins, including making notes, sketches
       mockups, database and inheritance diagrams, and storyboards, however you can not produce any production-ready
       content before the kickoff. This includes images, test cases, engines (except as noted in part 1), sounds, and
       music.</p>
    <p>Plan, don't create.</p>

    <h4>4. Paid Assets</h4>
    <p>Commercial assets are allowed so long as they are properly licensed (keeping in mind the terms of the previous
       section), and provided they were not created specifically for the purpose of this project.</p>
    <p>Commissioning contract work is forbidden.</p>
{% endblock %}
