{% extends "template.twig" %}
{% block section %}event{% endblock %}
{% block page %}school{% endblock %}
{% block title %}School Registration{% endblock %}
{% block shortDescription %}CodeDay inspires students to pursue STEM careers and is shown to increase enrollment in STEM courses. Schools and teachers can register students directly.{% endblock %}
{% block veryShortDescription %}School and teacher registration is available for CodeDay.{% endblock %}
{% block hero %}
    <article class="lead">
            <h2>CodeDay drives interest in CS classes.</h2>
            <p>CodeDay is a 24-hour, beginner-focused tech education event which gets students coding: 80% of attendees
               with no prior experience continue programming after.</p>
    </article>
{% endblock %}
{% block content %}
    <article class="what-is">
        <section class="image">
            <div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_n6xc4pm90n videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
            <span class="caption">Click play to watch a video about CodeDay.</span>
        </section>
        <section class="about">
            <h2>What is CodeDay?</h2>
            <p>We created CodeDay to fill the gap between in-school programs, which explain <em>how to code</em> and
               the eternal question of students: <em>why do I need to know this?</em></p>
            <p>At CodeDay, students pitch ideas for apps or games they want to see exist, then spend the next 24 hours
               creating them with the help of staff and mentors.</p>
            <p>Students regularly tell us CodeDay is one of the most meaningful things they've done. Over 80% of our
               attendees continue to code after attending, strengthening enrollment in high school and college CS
               offerings.</p>
        </section>
    </article>
    <article class="quotes">
        <h2>What do prior attendees have to say?</h2>
        <section class="teacher">
            <blockquote>
                <p>CodeDay provided our students with a first stepping-stone into the world of “coders”. Students entered
                   their first CodeDay with no knowledge of what to expect. They were welcomed with open arms, provided
                   with mentors, taught basic coding skills, and began to see themselves as capable of being part of this
                   &ldquo;world.&rdquo;</p>
                <p>My students are now confident, not just as future &ldquo;coders,&rdquo; but as future participants in
                   the careers that STEM has to offer!</p>
            </blockquote>
            <div class="attr">
                <span class="name">Summer Prather-Smith</span>
                <span class="title">Director of Migrant Education Region XVI</span>
                <span class="org">Monterey County Office of Education</span>
            </div>
        </section>
        <section class="students">
            <ul>
                <li><blockquote>&ldquo;The energy everyone had with each other... it was amazing.&rdquo;</blockquote><span class="attr">High School Freshman</span></li>
                <li><blockquote>&ldquo;Now I want to keep coding!&rdquo;</blockquote><span class="attr">High School Senior</span></li>
            </ul>
        </section>
    </article>
    <article class="promote">
        <h3>Ways to Promote CodeDay</h3>
        <section class="poster">
            <a href="https://clear.codeday.org/e/flyer/poster" target="_blank"><img src="https://clear.codeday.org/e/flyer/jpg?r=24" /></a>
            <p><a href="https://clear.codeday.org/e/flyer/poster" target="_blank">Download a Poster</a></p>
        </section>
        <section class="video">
            <a href="/video" target="_blank"><img src="/assets/img/video-link.png" /></a>
            <p><a href="/video" target="_blank">Play a Video</a></p>
        </section>
    </article>
    {% if event %}
        <article class="register">
            <section class="form">
                <h2>Ready to register?</h2>
                <div id="wufoo-m1d2e0uy1b258w8">
                Fill out the <a href="https://srnd.wufoo.com/forms/m1d2e0uy1b258w8">online form</a>.
                </div>
                <script type="text/javascript">var m1d2e0uy1b258w8;(function(d, t) {
                var s = d.createElement(t), options = {
                'userName':'srnd',
                'formHash':'m1d2e0uy1b258w8',
                'autoResize':true,
                'height':'684',
                'async':true,
                'host':'wufoo.com',
                'header':'show',
                'defaultValues': 'Field20={{ event.webname }}',
               'ssl':true};
                s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
                s.onload = s.onreadystatechange = function() {
                var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
                try { m1d2e0uy1b258w8 = new WufooForm();m1d2e0uy1b258w8.initialize(options);m1d2e0uy1b258w8.display(); } catch (e) {}};
                var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
                })(document, 'script');</script>
            </section>
            <section class="info">
                <h2>Attendee Roster</h2>
                <p>You'll need to collect some information from all students who will be attending, and submit this
                   information as an Excel spreadsheet (or CSV).</p>
                <p><a href="/assets/roster.csv">For faster processing, please download and use this roster template when
                   submitting student data.</a></p>

                <h2>Payment and Scholarships</h2>
                <p>We normally charge school groups $7 per attendee, which covers some of our costs in providing food. We
                   will send you an invoice for this after your registrations are processed. If this is a burden on your
                   school or students, you can request a scholarship on the form.</p>
            </section>
        </article>
    {% else %}
        <article class="register">
            <section class="form">
                <h2>Ready to register?</h2>
                <p><a href="mailto:schools@codeday.org">Contact us at schools@codeday.org</a> with any additional
                questions and to register. At minimum, we can reserve a number of spots for your students with only
                an estimate of expected attendance.</p>
                <p>To fully process your registration, you'll need to collect some information from all students who
                   will be attending, and submit this information as an Excel spreadsheet (or CSV).</p>
                <p><a href="/assets/roster.csv">For faster processing, please download and use this roster template when
                   submitting student data.</a></p>
            </section>
            <section class="info">
                <h2>Payment and Scholarships</h2>
                <p>We normally charge school groups $7 per attendee, which covers some of our costs in providing food. We
                   will send you an invoice for this after your registrations are processed. If this is a burden on your
                   school or students, you can request a scholarship on the form.</p>
            </section>
        </article>
    {% endif %}
    <article class="faq">
        <h3>FAQ</h3>
        <ul>
            <li>
                <span class="q">How safe is CodeDay?</span>
                <p>The venue will be locked down shortly after kickoff until just before presentations, and our trained
                   event staff carefully supervise the event from beginning to end.</p>
            </li>
            <li>
                <span class="q">Are staff background-checked?</span>
                <p>Yes, only background-checked staff and volunteers, teachers presenting school ID, and students are
                   allowed to remain at the event outside of kickoff and presentations.</p>
            </li>
            <li>
                <span class="q">Will students need a waiver?</span>
                <p>Yes, we require students to complete a waiver. These will be emailed to the parent emails provided
                   when you register.</p>
            </li>
            <li>
                <span class="q">What are the prerequisites to attend?</span>
                <p>Other than being a student, there really are no prerequisites!
                   CodeDay is one of the most beginner-friendly events available.</p>
            </li>
            <li>
                <span class="q">What will students learn?</span>
                <p>At the end of the event, students will be able to: work with a team to create specifications for a
                   project, search online for answers to technical problems, and program a complete and functioning
                   application or game.</p>
            </li>
            <li>
                <span class="q">Must teachers/chaperones attend?</span>
                <p>Chaperones or teachers are not required to attend, but are recommended for groups of more than 10
                   students. We will need to either conduct our own background check on attending chaperones, or
                   you will need to confirm that your school has performed them.</p>
            </li>
        </ul>
        <a href="mailto:schools@codeday.org">More questions? Contact us!</a>
    </article>
{% endblock %}
