{% extends "template.twig" %}
{% block section %}sponsor{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Sponsor{% endblock %}
{% block shortDescription %}With over 40 cities nationwide, CodeDay is the best event for companies looking to recruit interns, promote an API, or promote STEM employee volunteerism.{% endblock %}
{% block veryShortDescription %}Reach tens of thousands of students in 40+ cities with CodeDay.{% endblock %}
{% block hero %}
    <article class="lead">
        <h2>15,000 of the brightest minds in the US, and you.</h2>
        <p>Between a huge nationwide reach and the highest quality events proven to inspire, CodeDay is the best
           resource for organizations looking to engage with the next generation of developers.</p>
    </article>
    <article class="cta">
        <a href="mailto:sponsor@codeday.org">Get started</a>
    </article>
{% endblock %}
{% block content %}
    <section class="lead">
        <article class="intro">
            <h3>An Event Unlike Anything You've Seen</h3>
            <p>CodeDay is unlike anything in the country: an event which attracts thousands of students for the purposes
               of learning, exploring, and having fun with code.</p>
            <p>CodeDay follows a format you might have heard termed a hackathon: students attend CodeDay and spend 24
               hours building interesting apps or games from scratch. Unlike traditional hackathons, however, CodeDay
               does not have a focus on prizes, and participants are judged based on what they learned at the event.</p>
            <p>As a result, attendees at CodeDay are some of the most dedicated and talented programmers of today and
               tommorow, and we've helped many of the top companies reach this unique set of students:</p>
            <ul class="past-sponsors">
                <li><div style="background-image:url(/assets/img/sponsors/splunk.png);"></div></li>
                <li><div style="background-image:url(/assets/img/sponsors/lexisnexis.png);"></div></li>
                <li><div style="background-image:url(/assets/img/sponsors/a16z.png);"></div></li>
                <li><div style="background-image:url(/assets/img/sponsors/ebay.png);"></div></li>
                <li><div style="background-image:url(/assets/img/sponsors/amazon.png);"></div></li>
                <li><div style="background-image:url(/assets/img/sponsors/facebook.png);"></div></li>
            </ul>
        </article>
        <img src="/assets/img/workshop.jpg" />
    </section>
    
    <article class="stats">
        <article class="reach">
            <h3>Big Reach</h3>
            <ul>
                <li>Over 15,000 community members</li>
                <li>3,000 attendees each season</li>
                <li>38 cities regularly participating in events</li>
                <li>13,000 followers on social media</li>
            </ul>
        </article>
        <article class="impact">
            <h3>Big Impact</h3>
            <ul>
                <li>43% Women</li>
                <li>38% Low-Income Background</li>
                <li>28% African-American and Hispanic</li>
            </ul>
        </article>
        <a class="whitepaper" href="/assets/pdf/codeday-sponsor.pdf">Download our full sponsor prospectus</a>
    </article>

    <article class="good">
        <h3>Community-Level Sponsorships</h3>
        <p>srnd.org is a 501(c)(3) public charity with a mission to inspire students everywhere to learn to code.
           Each student who attends CodeDay costs us $36, meaning the average CodeDay costs $4,500 to run.</p>
        <p>By sponsoring CodeDay, you are helping build a better future for students in your community. Your
           sponsorship directly supports:</p>
        <ul>
            <li>Broader marketing to students of under-represented groups in your city</li>
            <li>Providing scholarships to students in need</li>
        </ul>
    <p><strong>By contributing $250-$1,000 for one city, or $2,500 for a national sponsorship, you can help make
           CodeDay happen. In addition:</strong></p>
        <ul>
            <li>Your logo will be listed on the CodeDay website, along with a link back to your site.</li>
            <li>You'll get a sign at the event with information about your company, and you can distribute swag.</li>
            <li>We'll tell students about your company at the kickoff, and explain why you support them
               (or you can send your own rep to speak).</li>
            <li>You and your employees can attend the event and meet the students.</li>
        </ul>
    </article>

    <article class="for-profit">
        <h3>API and Recruiting Sponsorships</h3>
        <p>Because CodeDay has a unique focus on learning and downplays prizes and showing off for recruiters, students
           who attend CodeDay genuinely love to solve difficult problems and learn new technologies. Our partners have
           told us that these students become fanatics of their products, and advocate for these technologies in their
           careers, and the many companies who have hired interns from CodeDay have been very pleased.</p>
        <blockquote>
            <span class="quote">Interns from CodeDay are the best we've ever hired.</span>
            <span class="attr">Engineer at eBay</span>
        </blockquote>
        <p>Recruiting and API sponsorships are $1,500 per event, or $5,000 nationally, and provide you with
           additional reach over the Community-level sponsorships:</p>
        <ul>
            <li>Give a 5 minute talk at the kickoff</li>
            <li>Bring recruiters, and distribute swag</li>
            <li>Get access to student resumes and open-source work with the
                <a href="http://wiki.studentrnd.org/display/SUP/Recruiting+Portal">srnd.org Recruiting Tool</a>.</li>
        </ul>
    </article>
{% endblock %}
