{% extends "template.twig" %}
{% block section %}sponsor{% endblock %}
{% block page %}index{% endblock %}
{% block title %}LexisNexis Internships{% endblock %}
{% block content %}
    <p><strong>From our sponsor LexisNexis Risk Solutions:</strong></p>
    <p><a href="https://srnd-cdn.net/codeday/lnr-internships.pdf">LexisNexis Risk Solutions is hiring summer interns,
       and CodeDay attendees are invited to apply. Click here for more information.</a></p>
    <p>In addition to the internship program, people have the opportunity to contribute to the open-source platform 
       alongside LexisNexis Risk Solutions engineers by submitting a fix for an issues assigned to Available for Anyone
       in our JIRA issue tracker: https://track.hpccsystems.com/. (You don’t have to have a login to see issues, but we
       do encourage potential contributors to sign up so they can have issues assigned to them etc.)</p>
{% endblock %}
