{% extends "template.twig" %}
{% block section %}video{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Video{% endblock %}
{% block content %}
<div class="wistia_responsive_padding" style="padding:56.25% 0 0 0;position:relative;"><div class="wistia_responsive_wrapper" style="height:100%;left:0;position:absolute;top:0;width:100%;"><div class="wistia_embed wistia_async_n6xc4pm90n videoFoam=true" style="height:100%;width:100%">&nbsp;</div></div></div>
{% endblock %}
