{% extends "template.twig" %}
{% block section %}volunteer{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Volunteer{% endblock %}
{% block hero %}
    <article class="lead">
        <h2>Help students learn to love technology.</h2>
        <p>Each city's CodeDay is run largely by a team of between 5-20 volunteers and, on the day-of, a roughly equal
           number of mentors. By volunteering, you can help make a big difference for students in your local community.</p>
    </article>
    <article class="cta">
        <a href="mailto:volunteer@codeday.org">Get in Touch: Event Staff</a>
        <a href="mailto:mentor@codeday.org">Get in Touch: Mentors</a>
    </article>
{% endblock %}
{% block content %}
    <article class="staff">
        <h3>Event Staff</h3>
        <p>Before CodeDay even starts, our event staff are working hard to make sure we have a venue and that
           local students, teachers, and clubs know about the event.</p>
        <p>Becoming an event volunteer makes the biggest impact on CodeDay, and only requires a few hours of work each
           week, and is a rewarding and fun way to network and interact with the community and, for students, learn
           valuable workplace skills.</p>

        <h4>Example Tasks</h4>
        <ul>
            <li>Reach out to your local school's principal or math teachers.</li>
            <li>Attend a local meetup and give a talk about CodeDay.</li>
            <li>Meet with a venue for a tour.</li>
        </ul>

        <h4>Time Commitment</h4>
        <p>1-3 hours each week for training and outreach to the community.</p>

        <h4>Requirements</h4>
        <p>Whether you're a student, teacher, parent, or engineer, we'd love your help! There are no pre-requisites,
           we offer training as needed! Volunteering does not preclude you from being a participant at CodeDay.</p>
        <div class="cta">
            <a href="mailto:volunteer@codeday.org" class="cta">Get in Touch</a>
        </div>
    </article>
    <article class="mentor">
        <h3>Mentors</h3>
        <p>Unlike at similar events, mentors at CodeDay aren't there to teach students to code, or solve complicated
           problems.</p>
        <p>As a mentor, you'll walk around, talk with attendees about your job and why you love technology, and ask
           leading questions to help them learn to solve their own problems. It's a fun and rewarding role.</p>

        <h4>Time Commitment</h4>
        <p>Mentor shifts are a minimum of 2 hours, and available throughout Saturday.</p>

        <h4>Requirements</h4>
        <p>Mentors must either be a professional developer, designer, engineer, or project manager, or a student with
           a history of personal projects who has attended a CodeDay in the past. You will be required to undergo a
           background check if you are over 18.</p>

        <div class="cta">
            <a href="mailto:mentor@codeday.org">Get in Touch</a>
        </div>
    </article>
{% endblock %}
