body.volunteer
    h3
        font-size: 1.44rem

    & > header
        background-color: $color-green

    section.hero
        padding: 2rem 0
        text-align: center
        background-color: $color-green
        color: $color-white

        article.lead
            h2
                +span-columns(10)
                +shift(1)
                font:
                    size: 2.986rem
                    weight: 700
                margin-bottom: 0
            p
                +span-columns(8)
                +shift(2)
        article.cta
            clear: both
            padding-top: 1.5rem
            a
                padding: 1.25rem 3rem
                background-color: $color-white
                border-radius: 3px
                color: $color-green
                display: inline-block
                text-decoration: none
                font:
                    family: $font-family-header
                    size: 1.2rem
                    weight: 700

    article.mentor, article.staff
        +span-columns(6)
        h4
            margin-bottom: -0.5rem
        .cta
            text-align: center
            padding-top: 1rem
            a
                padding: 1.25rem 3rem
                background-color: $color-green
                border-radius: 3px
                color: $color-white
                display: inline-block
                text-decoration: none
                font:
                    family: $font-family-header
                    size: 1.2rem
                    weight: 700
