{% extends "template.twig" %}
{% block section %}error{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Page not found{% endblock %}
{% block content %}
    <p>Sorry, the page you requested wasn't found.</p>
    <p>Most commonly, this means we're not hosting a CodeDay in the city you requested this season.</p>
    <p>Although CodeDay is in over 40 cities nationwide, we aren't able to run a CodeDay in every city for every
       season. If you'd like to help us bring CodeDay back to your city, please
       <a href="mailto:contact@codeday.org">contact us.</a></p>
{% endblock %}
