{% extends "template.twig" %}
{% block section %}error{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Server error{% endblock %}
{% block content %}
    <p>Sorry, something's gone wrong and our server experienced an error when trying to load that page. If you'd like
       to report this problem, please <a href="mailto:codeday@srnd.org">email us.</a></p>
    {% if technical_details %}
        <h2>Technical Details</h2>
        <textarea>{{ technical_details }}</textarea>
    {% endif %}
{% endblock %}
