<a href="#" id="faqAnchor"></a>
<section id="faq">
	
	<div class="row">

		<h2 class="section-title text-center">FAQ</h2>

		<div class="columns medium-6">

			<h3 class="faq-q">How does CodeDay work?</h3>
			<p class="faq-a">It's a 24-hour event where students get together and build cool things together! You
				pitch ideas, form teams, and build a cool app or game in 24 hours!</p>

		</div>

		<div class="columns medium-6">

			<h3 class="faq-q">Is this a "hackathon"?</h3>
			<p class="faq-a">CodeDay is a place for people who are interested in learning something new and meeting new
				people. It is not focused on winning awards or getting jobs, so <strong><em>we do not
				call CodeDay a hackathon.</em></strong></p>

		</div>

	</div>

	<div class="row">

		<div class="columns medium-6">

			<h3 class="faq-q">Can I attend if I'm not in high school or college?</h3>
			<p class="faq-a">Please <a href="mailto:contact@studentrnd.org">contact us</a> before registering if you
				are not currently in high school or college. If you register without contacting us, we will
				unfortunately need to turn you away at the door.</p>

		</div>

		<div class="columns medium-6">


			<h3 class="faq-q">What should I bring?</h3>
			<p class="faq-a">Bring your laptop and mouse. Food is included in your ticket. <span class="ref-sleep">If you're planning on sleeping, bring a sleeping bag, pillow, and toothbrush.</span> Desktop PCs and monitors are also allowed, although less common.</p>

		</div>

	</div>
	
	<div class="row">

		<div class="columns medium-6">

			<h3 class="faq-q">I don't know how to code!</h3>
			<p class="faq-a">No problem! Part of the fun is learning how to program when working with other people. We'll also provide some great workshops that you can attend. Or you can always just hang out and have fun!</p>

		</div>

		<div class="columns medium-6 ref-sleep">
			
				<h3 class="faq-q">Where will I sleep?</h3>
				<p class="faq-a">If you plan to sleep, you may sleep anywhere in the workplace or in a designated room. Remember to bring a sleeping bag!</p>

		</div>
	
	</div>

</section>
