<a href="#" id="faqAnchor"></a>
<section id="faq">
	
	<div class="row">

		<h2 class="section-title text-center">FAQ</h2>

		<div class="columns medium-6">

			<h3 class="faq-q">How does CodeDay work?</h3>
			<p class="faq-a">It's a 24-hour event where students passionate about technology get together and build cool things together! You pitch ideas, form teams, and build a cool app or game in 24 hours! The best projects will even be rewarded with prizes.</p>

		</div>

		<div class="columns medium-6">

			<h3 class="faq-q">Are there any age requirements?</h3>
			<p class="faq-a">No, the event is open to all currently enrolled students. Usually, most of the attendees are in high school and college. Middle school students who can behave independently are also welcomed.</p>

		</div>

	</div>

	<div class="row">

		<div class="columns medium-6">
	
			<h3 class="faq-q">Will there be food?</h3>
			<p class="faq-a">Yep! We'll provide lunch, dinner, midnight snacks, and breakfast -- including vegetarian options at CodeDay!</p>
		
		</div>

		<div class="columns medium-6">


			<h3 class="faq-q">What should I bring?</h3>
			<p class="faq-a">Bring your laptop and mouse! If you can, please bring a power strip. If you're planning on sleeping, bring a sleeping bag, pillow, toothbrush, or anything that may make you comfortable.</p>

		</div>

	</div>
	
	<div class="row">

		<div class="columns medium-6">

			<h3 class="faq-q">I don't know how to code!</h3>
			<p class="faq-a">Part of the fun is learning how to program when working with other people. We'll also provide some great workshops that you can attend. Or you can always just hang out and have fun!</p>

		</div>

		<div class="columns medium-6">
			
				<h3 class="faq-q">Where will I sleep?</h3>
				<p class="faq-a">If you plan to sleep, you may sleep anywhere in the workplace or in a designated room. Remember to bring a sleeping bag!</p>

		</div>
	
	</div>

</section>
