<!-- dark green 8EBC75 -->
<!-- medium green A0D388 -->
<!-- light green B5E59C -->


<section id="sponsors">

	<h2 class="section-title text-center">Sponsors</h2>

	<div class="medium-4 small-12 current-sponsor sponsor-splunk"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-intellectualventures"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-dwolla"></div>


	<div class="medium-4 small-12 current-sponsor sponsor-lexisnexis"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-readyforce"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-generalassembly"></div>


	<div class="medium-4 small-12 current-sponsor sponsor-treehouse"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-lob"></div>
	<div class="medium-4 small-12 current-sponsor sponsor-amazonwebservices"></div>

	<div class="cf"></div>

	<div class="medium-2 small-6 past-sponsor sponsor-ebayinc"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-andreesenhorowitz"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-thielfellowship"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-wix"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-outerwall"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-moz"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-microsoft"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-coronalabs"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-twilio"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-sendgrid"></div>	
	<div class="medium-2 small-6 past-sponsor sponsor-googlefiber"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-google"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-sap"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-yahoo"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-gracenote"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-aspenware"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-kauffmanlabs"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-github"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-puppetlabs"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-rackspace"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-contextio"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-chef"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-hp"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-sprintaccelerator"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-codingforinterviews"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-hubaustin"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-stagebloc"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-techcolumbus"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-devbootcamp"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-lookout"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-teradata"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-dice"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-newrelic"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-onsip"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-uw"></div>
	<div class="medium-2 small-6 past-sponsor sponsor-geonetric"></div>
</section>