{% extends "template.twig" %}
{% block section %}vip{% endblock %}
{% block page %}index{% endblock %}
{% block title %}CodeDay Ticket Search{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block nav %}<nav><ul><li><a href="/">Ticket Lookup</a></li></ul></nav>{% endblock %}
{% block content %}
    <h3>Tickets for {{ email }}</h3>
    {% if tickets|length > 0 %}
        <ul class="tickets">
            {% for ticket in tickets %}
                <li><a href="/{{ ticket.id }}">
                    {{ ticket.name }} - {{ ticket.id }}
                </a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Sorry, we couldn't find any tickets for that email. <a href="/">Did you use a different email?</a></p>
    {% endif %}
{% endblock %}
{% block scripts %}
    {% set event = ticket.event %}
    {% include "parts/map.twig" %}
{% endblock %}
