{% extends "template.twig" %}
{% block section %}vip{% endblock %}
{% block page %}utea{% endblock %}
{% block title %}About E-Signatures{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block nav %}<nav><ul><li><a href="/{{ ticket.id }}">{{ ticket.name }}</a></li></ul></nav>{% endblock %}
{% block content %}
    <h2>About E-Signatures</h2>
    <p>To participate in CodeDay, you will need to sign certain documents. If you choose, you can e-sign them using
       this system. Student Research and Development ("we") are providing these disclosures below to explain your
       how we use e-signatures and what rights you have related to their use:</p>

    <h3>Documents will be sent to you electronically</h3>
    <p>If you agree to use e-signatures, you will be able to sign the required CodeDay waiver and other paperwork
       electronically using this system. Unless you later tell us otherwise (using the procedures described below),
       all documents related to this transaction will be provided to you electronically.<p>
    <p>Your agreement will only apply to documents related to this transaction.</p>
    <p>If you do not want to e-sign these through our system, you may request a paper copy of the documents in-person
       at {{ event.name }} while the event is underway.<p>

    <h3>Getting paper copies</h3>
    <p>If you e-sign documents through our system, you will have the ability to download and print documents you sign
       for a period of 1 year. You can also request a paper copy of any document you have signed within 4 years by
       sending an email to contact@srnd.org with your ticket ID, name, and US postal address. We may charge a fee equal
       to our costs in providing copies.</p>

    <h3>Withdrawing your consent</h3>
    <p>If you decide to receive notices and disclosures from us electronically, you may change your mind at any time
       and receive future documents in paper format. To do so, email contact@srnd.org with your ticket ID, name,
       and US postal address.</p>
    
    <h3>Consequences of not e-signing</h3>
    <p>If you do not consent or withdraw consent to use e-signatures before your documents are fully executed, you will
       need to complete the documents during CodeDay, which may reduce the time you spend participating, or prevent
       participation entirely. If a co-signer is required, you will not be able to participate until the co-signer
       is able to sign in person, as well.</p>

    <h3>Changing your contact information</h3>
    <p>In order to change the address where we contact you, send an email to contact@srnd.org or update your contact
       information using this system.</p>

    <h3>Required Hardware and Software</h3>
    <ul>
        <li>Operating Systems: Windows&reg; 7 or later, macOS&reg; 10.9 or later, or Linux-based systems running X11R7.5
            or later.</li>
        <li>Web Browsers: Internet Explorer&reg; 11, Microsoft Edge&reg; 12 or later, Mozilla Firefox 40 or later, or
            Safari&trade; 8 or later.</li>
        <li>Javascript: Javascript must be enabled, and ad-blocking and anti-tracking must be disabled.</li>
        <li>Screen Resolution: 800x600 or greater.</li>
        <li>PDF Reader: Acrobat&reg; or similar software is required to view or print executed documents.</li>
    </ul>
    <p>Pre-release and beta versions of operating systems and browsers are not supported.</p>

    <h3>Agreement to use e-signatures</h3>
    <p>If you have read and understand this information, you can click the button below to e-sign this document.</p>
    <p>To confirm that you can access information electronically, we will send you an email with a link to sign this
       document.</p>
    <a href="#" class="agree">Use E-Signatures</a>
{% endblock %}
