{% extends "template.twig" %}
{% block section %}vip{% endblock %}
{% block page %}utea{% endblock %}
{% block title %}About E-Signatures{% endblock %}
{% block meta %}
    <meta name="robots" content="noindex,nofollow" />
{% endblock %}
{% block nav %}<nav><ul><li><a href="/{{ ticket.id }}">{{ ticket.name }}</a></li></ul></nav>{% endblock %}
{% block content %}
    {% include "parts/esign-consent.twig" %}

    <h3>Agreement to use e-signatures</h3>
    <p>If you have read and understand this information, you can click the button below to e-sign this document.</p>
    <p>To confirm that you can access information electronically, we will send you an email with a link to sign this
       document.</p>
    <a href="#" class="agree">Use E-Signatures</a>
{% endblock %}
