<li><a href="http://splunk.com/" target="_blank" title="Splunk"><span style="background-image: url(/assets/img/sponsors/splunk.png)"></span></a></li>
<li><a href="http://www.lexisnexis.com/risk/" target="_blank" title="LexisNexis Risk Solutions"><span style="background-image: url(/assets/img/sponsors/lexisnexis.png)"></span></a></li>
<li><a href="http://www.sap.com/" target="_blank" title="SAP"><span style="background-image: url(/assets/img/sponsors/sap.png)"></span></a></li>
