<li><a href="http://splunk.com/" target="_blank" title="Splunk"><span style="background-image: url(/assets/img/sponsors/splunk.png)"></span></a></li>
<li><a href="http://www.lexisnexis.com/risk/" target="_blank" title="LexisNexis Risk Solutions"><span style="background-image: url(/assets/img/sponsors/lexisnexis.png)"></span></a></li>
<li><a href="http://www.kinesis-ergo.com/" target="_blank" title="Kinesis"><span style="background-image: url(/assets/img/sponsors/kinesis.jpg)"></span></a></li>
<li><a href="https://zeit.co/" target="_blank" title="ZEIT"><span style="background-image: url(/assets/img/sponsors/zeit.png"></span></a></li>
<li><a href="https://oracle.com/" target="_blank" title="Oracle"><span style="background-image: url(/assets/img/sponsors/oracle.png);"></span></a></li>
