<li><a href="http://splunk.com/?utm_source=codeday&utm_medium=webpage&utm_campaign=codeday_2018_19" target="_blank" title="Splunk"><span style="background-image: url(/assets/img/sponsors/splunk.png)"></span></a></li>
<li><a href="http://www.lexisnexis.com/risk/?utm_source=codeday&utm_medium=webpage&utm_campaign=codeday_2018_19" target="_blank" title="LexisNexis Risk Solutions"><span style="background-image: url(/assets/img/sponsors/lexisnexis.png)"></span></a></li>
<li><a href="http://www.sap.com/?utm_source=codeday&utm_medium=webpage&utm_campaign=codeday_2018_19" target="_blank" title="SAP"><span style="background-image: url(/assets/img/sponsors/sap.png)"></span></a></li>
<li><a href="https://www.digikey.com/?utm_source=codeday&utm_medium=webpage&utm_campaign=codeday_2018_19" target="_blank" title="Digikey"><span style="background-image: url(/assets/img/sponsors/digikey.png)"></span></a></li>
<li><a href="http://makeschool.com?utm_source=codeday&utm_medium=webpage&utm_campaign=codeday_2018_19" target="_blank" title="Make School"><span style="background-image: url(/assets/img/sponsors/makeschool.png)"></span></a></li>
<li><a href="https://thenewgirlcode.com/tngc-us/" target="_blank" title="The New Girl Code"><span style="background-image: url(/assets/img/sponsors/tngc.jpg)"></span></a></li>
