{% if event and event.registration_info.is_open %}
    <li><a href="/{{ event.webname }}/register">Register</a></li>
{% endif %}
{% set skipSponsor = false %}
{% for link in event.special_links %}
    {% if link.location == 'header' %}
        {% if link.name == 'Sponsor' %}
            {% set skipSponsor = true %}
        {% endif %}
        <li><a href="{{ link.url }}"{% if link.new_window %} target="_blank"{% endif %}>{{ link.name }}</a></li>
    {% endif %}
{% endfor %}
{% if not skipSponsor %}
    <li><a href="/sponsor">Sponsor</a></li>
{% endif %}
<li><a href="/press">Press</a></li>
