{% extends "template.twig" %}
{% block title %}Press{% endblock %}
{% block page %}press{% endblock %}
{% block content %}

        <main id="press-container" class="content row round-corners">
            <div class="column medium-8 wrapper-column">
                <h2 class="section-title">Who We Are</h2>
                <hr class="separator">
                <p>CodeDay is a series of student programming events held across the world. It's the world's largest series of educational programming marathons, in addition to being one of the most effective methods of education.</p>

                <p>Our participants enter with a wide variety of skill levels, but they leave as some of the most skilled in the nation. Past participants have gone on to create venture-funded startups, gain hundreds of thousands of downloads on app stores, and more.</p>

                <h2 class="section-title">Past Coverage</h2>
                <hr class="separator">
                <article class="press-article">
                    <span>All Things Considered, 01/2014</span>
                    <h3><a href="http://www.npr.org/blogs/alltechconsidered/2014/01/25/266162832/computers-are-the-future-but-does-everyone-need-to-code">Computers are the Future, But Does Everyone Need to Code?</a></h3>
                </article>
                <article class="press-article">
                    <span>Tech Crunch, 01/2013</span>
                    <h3><a href="http://techcrunch.com/2013/01/18/the-weekly-good-the-problems-of-today-will-be-solved-by-the-minds-of-tomorrow/">The Weekly Good: The Problems Of Today Will Be Solved By The Minds Of Tomorrow</a></h3>
                </article>
                <article class="press-article">
                    <span>NPR, 04/2012</span>
                    <h3><a href="http://blogs.kqed.org/mindshift/2012/04/watch-out-silicon-valley-here-come-the-tinkering-teens/">Watch Out Silicon Valley: Here Come the Tinkering Teens</a></h3>
                </article>
                <article class="press-article">
                    <span>readwrite, 10/2013</span>
                    <h3><a href="http://readwrite.com/2013/10/18/kids-learn-code-programming">Schools Aren't Teaching Kids To Code; Here's Who Is Filling The Gap</a></h3>
                </article>
                <article class="press-article">
                    <span>King 5, 02/2013</span>
                    <h3><a href="http://www.king5.com/news/Students-in-code-heaven-at-Code-Day-193177871.html">Students in code heaven at 'CodeDay'</a></h3>
                </article>
                <div id="press-more-past-coverage"></div>
                <span id="view-more">And dozens more.</span>
            </div>
            <div class="column medium-4 wrapper-column">
                <h2 class="section-title">Media Relations</h2>
                <hr class="separator">
                <ul class="press-contact-info">
                    <li id="phone-number" class="press-icon">(866) 382-2377</li>
                    <li id="email" class="press-icon"><a href="mailto:press@codeday.org?subject=Press Inquiry">press@codeday.org</a></li>
                </ul>

                <h2 class="section-title">Fast Stats</h2>
                <hr class="separator">
                <ul class="press-stats">
                    <li id="stats-hours" class="press-icon"><span class="stats-numbers" data-from="0" data-to="3880" data-speed="1000" data-refresh-interval="25">3880</span> hours coding</li>
                    <li id="stats-locations" class="press-icon"><span class="stats-numbers">26</span> cities nationwide</li>
                    <li id="stats-projects" class="press-icon"></span><span class="stats-numbers">2,000+</span> projects</li>
                    <li id="stats-participants" class="press-icon"></span><span class="stats-numbers">10,000+</span> participants</li>
                </ul>
                <h2 class="section-title">Press Kit</h2>
                <hr class="separator">
                <p>Find logos, images of CodeDay in action, and other assets in our press kit.</p>
                <div class="press-kit text-center round-corners"><a href="https://studentrnd.org/press"><span></span>Press Kit</a></div>
            </div>
        </main>
{% endblock %}
