{% extends "template.twig" %}
{% block title %}Rules, Conduct, and Terms{% endblock %}
{% block page %}terms-of-service{% endblock %}
{% block content %}
    <main>
        <div class="row content round-corners">
            <div class="wrapper">
                <h2>1.1</h2>
                <hr class="seperator">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus laoreet vehicula iaculis. Proin ipsum lacus, ullamcorper nec purus ut, sollicitudin volutpat leo. Aliquam posuere, diam ultricies porta feugiat, arcu neque dapibus eros, non laoreet diam nisi vel elit. Fusce nec nisi orci. Fusce sit amet est bibendum, mollis arcu nec, condimentum augue. In sit amet lorem eget mauris vehicula accumsan et non arcu. Etiam eu urna id urna convallis accumsan. Mauris at erat facilisis, porttitor mi id, facilisis lacus.</p>

                <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis non ullamcorper justo. Etiam eu convallis nibh. Quisque interdum semper lorem a consequat. Integer odio purus, convallis non diam eget, rutrum elementum felis. Proin tortor leo, consequat a est vulputate, volutpat vulputate sapien. Donec sed turpis felis. Donec egestas leo ac risus porta pharetra. In elementum ultricies tortor, nec ultricies mauris eleifend id. Vivamus ac ligula sed diam imperdiet vestibulum eu et mi. Donec id fermentum leo. Nulla pharetra elementum massa, vitae tempus velit iaculis nec.</p>
            </div>
        </div>
    </main>
{% endblock %}