{% extends "template.twig" %}
{% block section %}volunteer{% endblock %}
{% block page %}index{% endblock %}
{% block title %}{% if partner %}{{ partner.name }} Volunteer Sign-up {% else %}Volunteer Application{% endif %}{% endblock %}
{% block shortDescription %} {% endblock %}
{% block veryShortDescription %} {% endblock %}
{% block meta %}<meta name="robots" content="noindex" />{% endblock %}
{% block content %}
<div class="cognito">
<script src="https://services.cognitoforms.com/s/7hYXr3TPxk6yIpJxjqVoFQ"></script>
<script>Cognito.load("forms", { id: "27", entry: {Region: "{{ region|escape('js') }}", Manager: "{{ manager|escape('js') }}"} });</script>
</div>
{% endblock %}
