{% extends "template.twig" %}
{% block section %}volunteer{% endblock %}
{% block page %}index{% endblock %}
{% block title %}Volunteer{% endblock %}
{% block shortDescription %}It's never been easier to inspire students in your community to fall in love with coding.{% endblock %}
{% block veryShortDescription %}Volunteer for CodeDay and help students fall in love with coding.{% endblock %}
{% block hero %}
    <article class="lead">
            <h2>Help students fall in love with code.</h2>
    </article>
    <article class="cta">
        <span class="wistia_embed wistia_async_8tq9ww732m popover=true popoverContent=link" style="display:inline"><a href="#">Watch the Volunteer Video</a></span>
    </article>
{% endblock %}
{% block content %}
    <article class="what-is">
      <p>Because of COVID-19, the next in-person CodeDay won't be for a while. Please see our two virtual programs in
         the meantime: <a href="https://virtual.codeday.org">Virtual CodeDay</a> or
         <a href="https://labs.codeday.org/">CodeLabs</p>
    </article>
{% endblock %}
